<h1>testing for machine learning and deep learning course<h1>

In [1]:
import pandas as pd

In [2]:
def get_titanic_dataset():
    titanic_data = pd.read_csv("C:/Users/46760/edu/jupyteredu/titanic.csv")
    print(titanic_data.keys())
    titanic_df = pd.DataFrame(titanic_data, columns = titanic_data.keys())
    return titanic_df

In [3]:
titanic_dataset = get_titanic_dataset()

Index(['id', 'gender', 'age', 'class', 'embarked', 'country', 'fare', 'sibsp',
       'parch', 'survived'],
      dtype='object')

In [6]:
titanic_dataset.head()

,id,gender,age,class,embarked,country,fare,sibsp,parch,survived
0,0,male,42.0,3rd,Southampton,United States,7.11,0.0,0.0,no
1,1,male,13.0,3rd,Southampton,United States,20.05,0.0,2.0,no
2,2,male,16.0,3rd,Southampton,United States,20.05,1.0,1.0,no
3,3,female,39.0,3rd,Southampton,England,20.05,1.0,1.0,yes
4,4,female,16.0,3rd,Southampton,Norway,7.13,0.0,0.0,yes

In [8]:
titanic_dataset.shape #2207 rows with 10 columns

(2207, 10)

In [9]:
titanic_dataset.tail()

,id,gender,age,class,embarked,country,fare,sibsp,parch,survived
2202,2202,male,41.0,deck crew,Belfast,England,0.0,0.0,0.0,yes
2203,2203,male,40.0,victualling crew,Southampton,England,0.0,0.0,0.0,yes
2204,2204,male,32.0,engineering crew,Southampton,England,0.0,0.0,0.0,no
2205,2205,male,20.0,restaurant staff,Southampton,England,0.0,0.0,0.0,no
2206,2206,male,26.0,restaurant staff,Southampton,England,0.0,0.0,0.0,no

In [10]:
titanic_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2207 entries, 0 to 2206
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        2207 non-null   int64
 1   gender    2207 non-null   object
 2   age       2205 non-null   float64
 3   class     2207 non-null   object
 4   embarked  2207 non-null   object
 5   country   2126 non-null   object
 6   fare      2181 non-null   float64
 7   sibsp     2197 non-null   float64
 8   parch     2197 non-null   float64
 9   survived  2207 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 172.5+ KB

In [11]:
titanic_dataset.describe()

                id          age         fare        sibsp        parch
count  2207.000000  2205.000000  2181.000000  2197.000000  2197.000000
mean   1103.000000    30.436735    19.773290     0.297223     0.229404
std     637.250343    12.159677    43.402454     0.840384     0.694232
min       0.000000     0.166667     0.000000     0.000000     0.000000
25%     551.500000    22.000000     0.000000     0.000000     0.000000
50%    1103.000000    29.000000     7.150600     0.000000     0.000000
75%    1654.500000    38.000000    20.110600     0.000000     0.000000
max    2206.000000    74.000000   512.060700     8.000000     9.000000

In [12]:
titanic_dataset.drop(["id"], axis=1, inplace=True)

In [13]:
titanic_dataset.head()

,gender,age,class,embarked,country,fare,sibsp,parch,survived
0,male,42.0,3rd,Southampton,United States,7.11,0.0,0.0,no
1,male,13.0,3rd,Southampton,United States,20.05,0.0,2.0,no
2,male,16.0,3rd,Southampton,United States,20.05,1.0,1.0,no
3,female,39.0,3rd,Southampton,England,20.05,1.0,1.0,yes
4,female,16.0,3rd,Southampton,Norway,7.13,0.0,0.0,yes

In [14]:
pd.value_counts(titanic_dataset["survived"])

no     1496
yes     711
Name: survived, dtype: int64

In [16]:
titanic_dataset.groupby(["class", "gender"])["survived"].mean() #need to convert survived into number

TypeError: Could not convert yesnonoyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesnoyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesnoyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesyesnoyesyesyesyesyesyesyesyesyesyesyesyesyesyesyes to numeric